In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Current Research/Water/birth-raw/natalityus1970-1988.csv'
df = pd.read_csv(file_path)
df.head()

<ipython-input-1-40ad8d10e467>:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,datayear,shipnum,reparea,rectype,restatus,stateres,cntyres,cityres,citrspop,smsares,...,smsarfip,stresexp,gestimp,regnres,regnocc,stoccfip,cntocfip,stresfip,cntyrfip,stnatexp
0,0,6,0.0,2,3,16,16084,999,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2,0.0,2,3,16,16086,999,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,3,0.0,2,3,16,16064,999,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,4,0.0,2,3,16,16016,999,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,6,0.0,2,3,16,16048,999,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Many variables are not available across years (1970-1988). For now, drop all variables that are not consistent across time span.
#Drop mpre6 as it has missing values whereas mpre10 has no missing values.
import pandas as pd

# Assuming your DataFrame is named 'df'
df['mar_code'] = ((df['dlegit'] == 1) | (df['dmar'] == 1)).astype(int)

import pandas as pd

# Assuming your DataFrame is named 'df', here's the list of columns to drop:
columns_to_drop = [
    'flag77', 'legitstoflg', 'reparea', 'dplural', 'plural3', 'plural2', 'fdflg',
    'nprev28', 'nprevisoflg', 'nprevisrflg', 'recwt', 'attend', 'fmaps', 'fmapsoflg',
    'fmapsr', 'fmapsrflg', 'marstoflg', 'nprev12', 'pldel', 'recwt', 'omaps',
    'omapsoflg', 'omapsr', 'omapsrflg', 'origf', 'origm', 'oterml20', 'otermm20',
    'ethnicrflg', 'ethnicoflg', 'congen', 'lfdflg', 'smsarfip', 'gestimp', 'regnres',
    'regnocc', 'stoccfip', 'cntocfip', 'stresfip', 'cntyrfip', 'smsarfip', 'recwt',
    'stnatexp', 'injuryrflg', 'nprevis', 'shipnum', 'injuryoflg', 'stresexp', 'mpre6',
    'legit3', 'legitstrflg', 'legitsmsarflg','mar2', 'marstrflg', 'marsmsarflg',
    'dlegit', 'dmar'
]

# Drop the columns
df = df.drop(columns=columns_to_drop, errors='ignore')

In [ ]:
import pandas as pd



# Assuming your DataFrame is named 'df'
nan_columns = df.columns[df.isna().any()].tolist()

# Display the columns that contain NaN values
print("Columns with NaN values:", nan_columns)

Columns with NaN values: []

In [ ]:
# Assuming your DataFrame is named 'df'
df.rename(columns={'birmon': 'month', 'yr': 'year', 'birday': 'day'}, inplace=True)

In [ ]:
# Assuming your DataFrame is named 'df'
# Display the renamed columns to verify
print(df[['year', 'month', 'day']].head())

   year  month  day
0  1970      6   25
1  1970      2   17
2  1970      2    2
3  1970      4   27
4  1970      6   16

In [ ]:
# Check if there are any non-numeric values in 'day', 'month', or 'year'
print(df[['day', 'month', 'year']].apply(pd.to_numeric, errors='coerce').isna().sum())
# Convert to datetime and handle any invalid entries
df['date'] = pd.to_datetime(df[['year', 'month', 'day']], errors='coerce')

# Display the result
print(df[['year', 'month', 'day', 'date']].head())

day      0
month    0
year     0
dtype: int64
   year  month  day       date
0  1970      6   25 1970-06-25
1  1970      2   17 1970-02-17
2  1970      2    2 1970-02-02
3  1970      4   27 1970-04-27
4  1970      6   16 1970-06-16

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'
dlegit_tabulation = df['cityres'].value_counts(dropna=False)

# Display the tabulation
print(dlegit_tabulation)

cityres
999    660706
11      25385
10      12413
7       11710
30      10125
18       5417
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'
contingency_table = pd.crosstab(df['cntyres'], df['cityres'])

# Display the 2x2 table
print(contingency_table.to_string())

cityres    7      10     11    18     30     999
cntyres
16001        0      0      0     0      0   2128
16002        0      0      0     0      0   1246
16003        0      0      0     0      0   3790
16004        0      0      0     0      0   3485
16005        0      0      0     0      0   1936
16006        0      0      0     0      0   5440
16007        0      0      0     0      0  35349
16008        0      0      0     0      0   5815
16009        0      0      0     0      0   5467
16010        0      0      0     0      0   6468
16011        0      0      0     0      0   5045
16012        0      0      0     0      0   4123
16013        0      0      0     0      0   2847
16014        0      0      0     0      0   6303
16015        0      0      0     0      0   3908
16016        0      0      0     0      0   4176
16017        0      0      0     0      0  11569
16018        0      0      0     0      0   3782
16019        0      0      0     0      0   3913
16020        0      0      0     0      0   1898
16021        0      0      0     0      0   4916
16022        0      0      0     0      0   5190
16023        0      0      0     0      0  14091
16024        0      0      0     0      0   4959
16025        0      0      0     0      0   7152
16026        0      0      0     0      0   2237
16027        0      0      0     0      0   1954
16028        0      0      0     0      0   5390
16029        0      0      0     0      0  11185
16030        0      0      0     0      0   3277
16031        0      0      0     0      0  24421
16032        0      0      0     0      0   3305
16033        0      0      0     0      0   6003
16034        0      0      0     0      0   4475
16035        0      0      0     0      0   2887
16036        0      0      0     0      0   2123
16037        0      0      0     0      0   2728
16038        0      0      0     0      0   3025
16039        0      0      0     0      0   2492
16040        0      0      0     0      0   4003
16041        0      0      0     0      0   3493
16042        0      0      0     0      0   4776
16043        0      0      0     0      0   3866
16044        0      0      0     0      0   4455
16045        0      0      0     0      0   2586
16046        0      0      0     0      0   2868
16047        0      0      0     0      0   2191
16048        0      0      0     0      0   3549
16049        0      0      0     0      0   5761
16050        0      0      0     0      0   8388
16051        0      0      0     0      0   3595
16052        0      0      0     0      0  20762
16053        0      0      0     0      0   4751
16054        0      0      0     0      0   2981
16055        0      0      0     0      0   5351
16056        0      0      0     0      0  10321
16057    11710      0      0  5417      0  26186
16058        0      0      0     0      0   2848
16059        0      0      0     0      0   2167
16060        0      0      0     0      0   3262
16061        0      0      0     0      0   2831
16062        0      0      0     0      0   5617
16063        0      0      0     0      0   6913
16064        0      0      0     0      0  10059
16065        0      0      0     0      0   3222
16066        0      0      0     0      0   2783
16067        0      0      0     0      0   2510
16068        0      0      0     0      0   2030
16069        0      0      0     0      0   3076
16070        0      0      0     0      0  11372
16071        0      0      0     0      0   4105
16072        0      0      0     0      0   1953
16073        0      0      0     0      0   4124
16074        0      0      0     0      0   3074
16075        0      0      0     0      0   6485
16076        0      0      0     0      0   2543
16077        0      0  25385     0  10125  46673
16078        0      0      0     0      0  23634
16079        0      0      0     0      0   4099
16080        0      0      0     0      0   1296
16081        0      0      0     0      0   3245
16082        0  12413      0     0      0  32278
16083        0      0      0     0      0   3497
16084        0      0      0     0      0   8906
16085        0      0      0     0      0  16633
16086        0      0      0     0      0   4512
16087        0      0      0     0      0   1794
16088        0      0      0     0      0   3227
16089        0      0      0     0      0   1944
16090        0      0      0     0      0   8788
16091        0      0      0     0      0   8536
16092        0      0      0     0      0   4920
16093        0      0      0     0      0   1658
16094        0      0      0     0      0  11303
16095        0      0      0     0      0   3083
16096        0      0      0     0      0   4973
16097        0      0      0     0      0  28898
16098        0      0      0     0      0   1918
16099        0      0      0     0      0   3536

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'
dlegit_tabulation = df['cntyres'].value_counts(dropna=False)

# Display the tabulation
print(dlegit_tabulation)

cntyres
16077    82183
16082    44691
16057    43313
16007    35349
16097    28898
         ...
16020     1898
16087     1794
16093     1658
16080     1296
16002     1246
Name: count, Length: 99, dtype: int64

In [ ]:
# Assuming 'dlegit_tabulation' is your table created with value_counts
print(dlegit_tabulation.to_string())

cntyres
16077    82183
16082    44691
16057    43313
16007    35349
16097    28898
16031    24421
16078    23634
16052    20762
16085    16633
16023    14091
16017    11569
16070    11372
16094    11303
16029    11185
16056    10321
16064    10059
16084     8906
16090     8788
16091     8536
16050     8388
16025     7152
16063     6913
16075     6485
16010     6468
16014     6303
16033     6003
16008     5815
16049     5761
16062     5617
16009     5467
16006     5440
16028     5390
16055     5351
16022     5190
16011     5045
16096     4973
16024     4959
16092     4920
16021     4916
16042     4776
16053     4751
16086     4512
16034     4475
16044     4455
16016     4176
16073     4124
16012     4123
16071     4105
16079     4099
16040     4003
16019     3913
16015     3908
16043     3866
16003     3790
16018     3782
16051     3595
16048     3549
16099     3536
16083     3497
16041     3493
16004     3485
16032     3305
16030     3277
16060     3262
16081     3245
16088     3227
16065     3222
16095     3083
16069     3076
16074     3074
16038     3025
16054     2981
16035     2887
16046     2868
16058     2848
16013     2847
16061     2831
16066     2783
16037     2728
16045     2586
16076     2543
16067     2510
16039     2492
16026     2237
16047     2191
16059     2167
16001     2128
16036     2123
16068     2030
16027     1954
16072     1953
16089     1944
16005     1936
16098     1918
16020     1898
16087     1794
16093     1658
16080     1296
16002     1246

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Current Research/Water/water-raw/fips.csv'
df_fips = pd.read_csv(file_path)
df_fips.head()

   nchs  cntyres  nchs_msa  metro  fipsst  fips_msa countyname   fips
0     1    16001         0      2      19         0      Adair  19001
1     2    16002         0      2      19         0      Adams  19003
2     3    16003         0      2      19         0  Allamakee  19005
3     4    16004         0      2      19         0  Appanoose  19007
4     5    16005         0      2      19         0    Audubon  19009

In [ ]:
# Perform a left merge (many-to-one) on 'ctnyres' to keep all rows from df
df = pd.merge(df, df_fips, on='cntyres', how='left')

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'
dlegit_tabulation = df['fips'].value_counts(dropna=False)

# Display the tabulation
print(dlegit_tabulation.to_string())

fips
19153    82183
19163    44691
19113    43313
19013    35349
19193    28898
19061    24421
19155    23634
19103    20762
19169    16633
19045    14091
19033    11569
19139    11372
19187    11303
19057    11185
19111    10321
19127    10059
19167     8906
19179     8788
19181     8536
19099     8388
19049     7152
19125     6913
19149     6485
19019     6468
19027     6303
19065     6003
19015     5815
19097     5761
19123     5617
19017     5467
19011     5440
19055     5390
19109     5351
19043     5190
19021     5045
19191     4973
19047     4959
19183     4920
19041     4916
19083     4776
19105     4751
19171     4512
19067     4475
19087     4455
19031     4176
19145     4124
19023     4123
19141     4105
19157     4099
19079     4003
19037     3913
19029     3908
19085     3866
19005     3790
19035     3782
19101     3595
19095     3549
19197     3536
19165     3497
19081     3493
19007     3485
19063     3305
19059     3277
19119     3262
19161     3245
19175     3227
19129     3222
19189     3083
19137     3076
19147     3074
19075     3025
19107     2981
19069     2887
19091     2868
19115     2848
19025     2847
19121     2831
19131     2783
19073     2728
19089     2586
19151     2543
19133     2510
19077     2492
19051     2237
19093     2191
19117     2167
19001     2128
19071     2123
19135     2030
19053     1954
19143     1953
19177     1944
19009     1936
19195     1918
19039     1898
19173     1794
19185     1658
19159     1296
19003     1246

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Current Research/Water/water-raw/county_geo2000.csv'
df_geo = pd.read_csv(file_path)
df_geo['fips'] = 19000 + df_geo['fips']  # This will create 'date' like 1970, 1971, etc.

df_geo.head()

    fips     county  pop_2000   Latitude  Longitude
0  19001      Adair      8243  41.340811 -94.478094
1  19003      Adams      4482  41.007209 -94.711229
2  19005  Allamakee     14675  43.257422 -91.419584
3  19007  Appanoose     13721  40.740529 -92.866510
4  19009    Audubon      6830  41.679472 -94.926913

In [ ]:
# Perform a left merge (many-to-one) on 'ctnyres' to keep all rows from df
df = pd.merge(df, df_geo, on='fips', how='left')

df.head()

,datayear,rectype,restatus,stateres,cntyres,cityres,citrspop,smsares,metrores,divres,...,nchs_msa,metro,fipsst,fips_msa,countyname,fips,county,pop_2000,Latitude,Longitude
0,0,2,3,16,16084,999,9,0,2,4,...,0,2,19,0,Sioux,19167,Sioux,31589,43.078397,-96.165810
1,0,2,3,16,16086,999,9,0,2,4,...,0,2,19,0,Tama,19171,Tama,18103,42.066911,-92.541437
2,0,2,3,16,16064,999,9,0,2,4,...,0,2,19,0,Marshall,19127,Marshall,39311,42.031702,-92.937291
3,0,2,3,16,16016,999,9,0,2,4,...,0,2,19,0,Cedar,19031,Cedar,18187,41.760598,-91.136340
4,0,2,3,16,16048,999,9,0,2,4,...,0,2,19,0,Iowa,19095,Iowa,15671,41.703898,-92.046364

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'
dlegit_tabulation = df['day'].value_counts(dropna=False)

# Display the tabulation
print(dlegit_tabulation.to_string())

day
20    24322
14    24302
19    24250
21    24247
28    24236
18    24113
17    24020
22    23970
25    23910
11    23874
8     23844
27    23841
10    23834
23    23831
3     23828
6     23811
15    23809
7     23799
2     23795
16    23741
12    23724
26    23723
9     23662
24    23489
5     23421
1     23399
4     23373
13    23305
29    22363
30    22123
31    13780
99       17

In [ ]:
df['start'] = df['date'] - pd.to_timedelta(df['dgestat'], unit='d')

In [ ]:
df.to_csv('/content/drive/MyDrive/Current Research/Water/birth-raw/final_natalityus1970-1988.csv', index=False)